<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sonam.givelife" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Campaigns" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".register"
            android:label="Registration" >
        </activity>
        <activity
            android:name=".eRegistration"
            android:label="@string/title_activity_e_registration" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".logo"
            android:label="" >

        </activity>
        <activity
            android:name=".Search"
            android:label="Search Blood Donor" >
        </activity>
        <activity
            android:name=".Launchcamp"
            android:label=" " >
        </activity>
        <activity
            android:name=".Masterlogin"
            android:label=" " >
        </activity>
        <activity
            android:name=".Post"
            android:label=" " >
        </activity>
        <activity
            android:name=".Emergepost"
            android:label=" Emergency Post" >
        </activity>
        <activity
            android:name=".Accountsec"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".Eligibility"
            android:label="Eligible" >
        </activity>
        <activity
            android:name=".Information"
            android:label="Information" >
        </activity>
        <activity
            android:name=".Working"
            android:label="@string/title_activity_working" >
        </activity>
        <activity
            android:name=".Organregistration"
            android:label="Donor Registration" >
        </activity>
        <activity
            android:name=".UpdateInfo"
            android:label="Update Information" >
        </activity>
        <activity
            android:name=".GiveLife"
            android:label="@string/title_activity_give_life" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
